@import "nullstyle.css";
body {
  font-size: 20px;
}
body .card {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: aquamarine;
  border-bottom: 1px solid black;
}
body .card h1 {
  background: white;
  font-size: 40px;
  font-weight: bold;
}
body .card .texter {
  width: 30%;
  height: 30%;
  display: flex;
}
body .card .texter button {
  width: 15%;
  border: 1px solid black;
  border-left: 0;
}
body .card .texter input {
  font-size: 100%;
  font-style: italic;
  border: 1px solid black;
  width: 85%;
}
body list {
  display: flex;
  width: 80%;
  background-color: black;
}
body list li {
  margin-top: 10%;
  background-color: white;
}