<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Texter</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div data-say-hi="container" id="app" v-cloak>
        <div class="card">
            <h1>{{title}}</h1>
            <div class="texter">
                <input :class="{extended: editorIsActive}" type="text" :placeholder="titlePlaceholder"
                    v-model="titleValue" @keypress.enter="openEditor" @keyup.esc="closeEditor">
                <button class="btn-open" :class="{invisible: editorIsActive }" @click="openEditor">←</button>
                <button class="btn-close" :class="{invisible: !editorIsActive }" @click="closeEditor">×</button>
            </div>
            <div class="editor" :class="{ invisible: !editorIsActive }">
                <textarea id="note-body" :placeholder="editorPlaceholder" v-model="bodyValue"
                    @keyup.esc="closeEditor"></textarea>
                <div class="buttonset">
                    <button class="btn-bold" @click="makeBold">B</button>
                    <button class="btn-add" @click="addNewNote">←</button>
                </div>
            </div>
        </div>

        <ul class="notes" v-if="notes.length!==0">
            <li v-for="(note, i) in notes">
                <div class="note-title" @click="openNote(i, $event)">
                    {{note.title}}
                    <button @click="removeNote(i, $event)">×</button>
                </div>
                <div class="note-body" :class="{invisible: !note.isOpen}">
                    <span v-html="note.body"></span>
                </div>
            </li>
        </ul>
        <div v-else>no notes yet...</div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tiny.cloud/1/tniti97608i51dczxfprh9uwwgtkf5tf90n0yuts4yh6n4cf/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#note-body'
        })
    </script>
    <script src="js/script.js"></script>
</body>

</html>